// Define variable defaults
$body-bg: #1F273C;
$wrapper-bg: #26304B;
$body-color: #919DAD;
$label-color: #919DAD;
$title-color: #92BFF6;
$h3-color: #DDE0E3;
$note-color: #8494BB;
$start-grad-color: #4366CB;
$mid-grad-color: #8079FF;
$end-grad-color: #92BFF6;
$input-color: #2E3858;
$placeholder-color: #55698B;
$row-color: #2E3858;
$comb-clr : #4466CC;
$font-family: 'Montserrat', sans-serif;


body {
    font-family: $font-family !important;
}
.wrapper {
    background-color: $wrapper-bg !important;
    border-radius: 20px !important;
}
h3 {
    color: $h3-color;
    font-weight: 700 !important;
}
.label {
    font-variant: small-caps;
    font-weight: 700;
    color: $label-color;
}
.active-label {
    color: $title-color;
    position: relative;
}
.active-label::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 100%;
    height: 2px;
    background-color: $title-color;
}
input {
    background-color: $input-color !important;
    border: none !important;
    outline: none;
    color: $end-grad-color !important;
    font-weight: 500 !important;
}
::placeholder { 
   color: #55698B !important;
}
.active-btn {
    text-transform: uppercase !important;
    font-weight: 700 !important;
    color: $h3-color !important;
    border: none !important;
    min-width: 120px;
    background: linear-gradient(91.09deg, $start-grad-color -12.32%, $mid-grad-color 65.56%, $end-grad-color 131.46%);
}
.link-btn {
    color: $title-color !important;
    font-weight: 600 !important;
    border: none !important;
    padding: 0 !important;
    text-decoration: none !important;
}
.link-btn:focus {
    box-shadow: none !important;
}
.note-text {
    color: $note-color;
    font-size: .98rem;
    text-align: center;
}
.note-link {
    color: $end-grad-color;
    font-weight: 700;
}
.note-link:hover {
    text-decoration: none;
    color: #AFD3FF;
}
.table {
    border-spacing: 0 7px;
    border-collapse: separate;
}
.table > tbody {
    color: white !important;
    font-weight: 700;
}
.table > thead th {
    padding-bottom: 3px !important;
}
.table > tbody > tr {
    background-color: $input-color;
}
.table > tbody td {
    padding: 1rem;
}
.table > tbody td:first-child {
    border-radius: 7px 0 0 7px;
}
.table > tbody td:last-child {
    border-radius: 0 7px 7px 0;
}
.comb-num {
    color: $h3-color;
    background-color: $wrapper-bg;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}
.comb-num-win {
    background-color: $comb-clr;
}
.user-balance {
    font-weight: 700;
    color: $end-grad-color;
}
hr {
    background-color: $label-color;
    height: 2px;
    margin-top: 0 !important;
}
.timer-number {
    background-color: $body-bg;
    color: $title-color;
    font-weight: 700;
    border-radius: 5px;
    font-size: 2rem;
    padding: 6px 12px;
    text-align: center;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';